/*
.carousel-inner .active { left: 20%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.carousel-control-img-right {margin-top: 45%, margin-left:10px;}
.carousel-control-img-left {margin-top: 45%, margin-right:10px;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}
*/
